[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
service-base = {editable = true, path = "./../.."}
service-base-events = {editable = true, path = "./../../../service-base-events"}

[dev-packages]

[requires]
python_version = "3.8"
